[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
black = "*"
colorama ="*"
flake8 = "*"
lektor = "*"
isort = "*"
Jinja2 = ">=3.1.6"  # Ensure dependecy avoids known security issues
pip = ">=25.3"  # Ensure dependecy avoids known security issues
requests = ">=2.32.4"  # Ensure dependecy avoids known security issues
setuptools = ">=78.1.1"  # Ensure dependecy avoids known security issues
urllib3 = ">=2.6.0"  # Ensure dependecy avoids known security issues

[requires]
python_version = "3.12"
