{#- vim: sts=2 sw=2 ts=2 sr et: #}
{%- macro render_post_list(posts) %}
<ol reversed>
  {%- for post in posts %}
  {%- if post._model == "blog-post" %}
    <li class="list-item-post">
      <code>{{ post.pub_date.strftime("%Y %b %d") }}</code>:
      <a href="{{ post|url }}">{{- post.title }}</a>
    </li>
  {%- endif %}
  {%- endfor %}
</ol>
{%- endmacro %}


{%- macro render_cat_nav(active=none, tags_type=none) %}
<h2>{{ tags_type }} tags</h2>
<ul>
  {%- for tag in site.query("/tags").filter(F._id != "all") %}
    {%- set name = tag.name if tag.name else tag._id.title() %}
    {%- if not name|int(default=False) and tags_type == "Content" %}
      {%- set name = name.replace(" ", "\u00A0") %}
      {%- set name = name.replace("and\u00A0", "and ") %}
  <li><a href="{{ tag|url }}"><i class="fas fa-tag"></i> {{ name }}</a>
      ({{ tag.children.count() }})</li>
    {%- elif name|int(default=False) and tags_type == "Date" %}
  <li><a href="{{ tag|url }}"><i class="fas fa-tag"></i> {{ name }}</a>
      ({{ tag.children.count() }})</li>
    {%- endif %}
  {%- endfor %}
</ul>
{%- endmacro %}


{%- macro render_cats_horizontal(year, tags) %}
  {%- if tags %}
    {%- set tags_filtered = [] %}
    {%- for tag in tags %}
      {%- if tag != year and tag != "all" %}
        {%- set _ = tags_filtered.append(tag) %}
      {%- endif %}
    {%- endfor %}
    {% if tags_filtered %}
      {%- for specified_tag in tags_filtered %}
        {%- if loop.first %}
          {{- "(" }}
        {%- endif %}
        {%- set tag = site.get("/tags/{}".format(specified_tag)) %}
        {%- set name = tag.name if tag.name else tag._id.title() %}
        {%- set name = name.replace(" ", "\u00A0") %}
        {{- "" }}<a href="{{ tag|url }}">{{- name }}</a>
        {%- if loop.last %}
          {{- ")" }}
        {%- else %}
          {{- ", " }}
        {%- endif -%}
      {%- endfor -%}
    {%- endif %}
  {%- endif %}
{%- endmacro %}


{%- macro render_cats_vertical(tags) %}
<div>
  <h2>Tags</h2>
  <ul>
  {%- for specified_tag in tags %}
    {%- set tag = site.get("/tags/{}".format(specified_tag)) %}
    {%- if tag._id != "all" %}
      {%- set name = tag.name if tag.name else tag._id.title() %}
      {%- set name = name.replace(" ", "\u00A0") %}
      <li>
        <a href="{{ tag|url }}/"><i class="fas fa-tag"></i> {{ name }}</a>
      </li>
    {%- endif %}
  {%- endfor %}
  </ul>
</div>
{%- endmacro %}
