{%- extends "layout.html" %}
{%- from "macros/tags.html" import render_cat_nav %}
{%- block title %}Tags {{ super.title }}{%- endblock %}
{%- block body %}
<h1><i class="fas fa-tags"></i> Tags</h1>
<div class="five columns">
    {{- render_cat_nav(active=none, tags_type="Content") }}
</div>
<div class="five columns">
    {{- render_cat_nav(active=none, tags_type="Date") }}
    <h2>All posts</h2>
    <ul>
        <li><a href="{{ "/tags/all/"|url }}">All posts</a></li>
    </ul>
</div>

{%- endblock %}
